.navigation {
    padding-left: 50px !important;
    padding-right: 15px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: #24A1DA !important;
}

.company-name{
    color: #24A1DA !important;
    font-weight: 600;
 
}

.navigation :hover{
   text-decoration: none;
   cursor: pointer;
   color: #5671AB !important;

}
.logo{
    height: 50px;
    width: auto;
}

@media screen and (max-width:700px){
    .navbar-brand{
        font-size: 10px;
        /* visibility: hidden; */
    }
    .navigation{
        padding-left: 40px !important;
            border: solid blue 3px


    }
}