.navigation{
    padding-left: 50px !important;
    padding-right: 15px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: #24A1DA !important;
    background: rgb(255, 255, 255)

}

.navigation :hover{
   text-decoration: none;
   cursor: pointer;
   color: #5671AB !important;

}
.logo{
    height: 50px;
    width: auto
}

@media screen and (max-width:500px){
    .company-name{
        font-size: 16px !important;
    }
    .navigation{
        padding-left: 40px !important;

    }
}